body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
}

.navbar{
  background-color: #08b475;

  &__nav-item{
    padding: 2px;
    margin: 2px;
    border-right: 1px solid #00754a;
  }

  &__nav-link{
    text-decoration: none;
    background-color: #08b475;
    color: azure;
    &:hover{
      background-color: #80d6b7;
    }
  }
}

