body{
  font-family:inherit;
  line-height: 29px;
  font-size: medium;
}


.navbar{
  background-color: #08b475;


  &__nav-item{
    padding: 2px;
    margin: 5px;
    border: 2px solid #00754a;

  }

  &__nav-link{
    text-decoration: none;
    background-color: #08b475;
    color: rgb(255, 255, 255);

    &:hover{
      background-color: #0ac27e;
      border-radius: 4%;

    }
  }
}

