li{
  padding: 2px;
  margin: 2px;

  border-right: 1px solid #00754a;

}



body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
}

img{
  height: 10%;
}

nav{
  background-color: #08b475;
}
